export SPRING_PROFILES_ACTIVE=development

export S3_ACCESSKEY=ZWVKL0G50DDPWNDHNLYY
export S3_SECRETKEY=q5CDYo3uQZ9E835KunRe8d4pjCExn2xC/MRas7sr
export S3_BUCKETNAME=moviefun

export EUREKA_CLIENT_ENABLED=false
export RIBBON_EUREKA_ENABLED=false

export ALBUM_SERVICE_RIBBON_LISTOFSERVERS=http://localhost:8081
export MOVIE_SERVICE_RIBBON_LISTOFSERVERS=http://localhost:8082
